language: java
matrix:
  include:
    - name: "Linux JDK8"
      os: linux
      dist: trusty
      jdk:
        - openjdk8
      env:
        - TRAVIS_DIST_NAME="trusty"
    - name: "MacOS JDK8"
      os: osx
      osx_image: xcode9.3
#    - name: "Windows" --- Not yet supported
#      os: windows
#      jdk:
#        - openjdk8

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then rm -f '/usr/local/include/c++'; brew install ant; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install ant -y; fi

install:
  - WD=$PWD
  - cd ..
  - git clone https://github.com/Funz/funz-profile
  - cd $WD

script: 
  - ant test

before_deploy:
  - ant clean dist
  - cd dist; zip -r ../plugin-MCNP.zip *; cd ..
  - ant install
  - zip -r Funz-MCNP.zip Funz-MCNP
  
deploy:
  provider: releases
  api_key:
    secure: mlNKzzE5OPEZmN9LY0LMzNFhUktT23xD+RQcYDyR0hzKA44j0a+3V/uuQQPIjtY59AZ17KGjFFlMXdmMtnQAQR56XKkxB7iuyyTcZSdcmjyy1oSOJAUkcZkdPqov+CO4FURsMrNHgND01Y/0xFc2HtyBTrHYjYunU+MuA7wRfied0IyzTBtULKk9WRC9AmksUZSXatye7v5FEd4OqOHlBuXmG6Y98ftBx1r5WnLR3NHT1WJc81xYb4eQ7eppa3/RQMU+Kw9uEBPecmvsVGXWZUFYXgTKQiKrWJkmHjCL69a86io+iqULY1CEg86n4RsvrQXf5gr3GnoiKQwcmsfxPACq8NpcsTBwdEWHJ55M3FlyiCWj13P4PJfKt7iF5GodCK0n3aLm1bdS318XPMoZOt5aahTQbnV9MogG6rZn/gMLPUi8saLPWk9s4j6FhZda201Fiu0v2LwTsq5cSQfvLsLiiv6um9I3qN9rtN7R31oZ1XzCttP+eg2pux7HzSUf9wAvVULhcuADN3yupKXXVWs06NKgpY9bVrRdL2Ax639YBC8EQepVW9mUHK4NXtppWEaTq1gyTsnvSvqMZqWFxy+IMD2Cdm4DtkYhDsv4yxEsiFBDzmZZph0vwhSAJZ9p13cX9bdPn4W3gj+WSdoQw/KlALqNBH/3rM1znC6k0Ic=
  file_glob: true
  file:
    - Funz-*.zip
    - plugin-*.zip
  on:
    tags: true
    branch: master
  skip_cleanup: true
  overwrite: true
